* { padding: 0; margin: 0; }

body {
 background-color: #ffffff;
 font-family:'Helvetica Neue', 'Microsoft Sans Serif', arial, Geneva, frutiger, Tahoma, Verdana, sans-serif;
 font-weight: 200;
 font-size: 13px;
}

#wrapper { 
 margin: 0 auto;
 width: 100%;
}

#header {
 color: #333;
 width: 100%;
 padding: 0px;
 height: 92px;
 margin: 0px 0px 5px 0px;
 background: #FFFFFF;
}
#leftcolumn { 
 display: inline;
 color: #333;
 margin: 10px;
 padding: 0px;
 width: 13%;
 height: 70%;
 float: left;
}
#rightcolumn { 
 color: #333;
 margin: 10px;
 padding: 0px;
 width: 87%;
 display: inline;
}

#footer { 
 width: 100%;
 clear: both;
 color: #333;
 background: #FFFFFF;
 margin: 0px 0px 10px 0px;
 text-align: center;
 padding: 10px;
}
.clear { clear: both; background: none; }

a, a:visited {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #999;
}

.imageRow .single {
  float: left;
}

.imageRow .single a {
  float: left;
  display: block;
  background: rgba(255, 255, 255, 0.1);
  padding: 4px;
  line-height: 1em;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  margin-right: 10px;
  margin-bottom: 10px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.imageRow .single a:hover {
  background-color: #d9d9d9;
}
